* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    font-family: 'Segoe UI', sans-serif;
    overflow: hidden;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
    transition: filter 1s ease-in-out;
    filter: brightness(0.7);
}
a{
    text-decoration: none;
    color: whitesmoke;
}

nav {
    position: absolute;
    top: 20px;
    width: 100%;
    margin-left: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding: 0 30px;
    color: white;
}

.logo-container img {
    width: 70px;
    height: 70px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin-right: 18px;
    object-fit: cover;
}



.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.logo-container h1 {
    font-size: 30px;
    font-weight: bold;
    text-shadow: 0 0 10px black;
}

.nav-btn {
    background: #4CAF50;
    color: whitesmoke;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
}

main {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.main-btn {
    background: #25D366;
    margin: 10px;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    color: whitesmoke;
    font-size: 18px;
    cursor: pointer;
}

.whatsapp-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #25D366;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
}
.classImg{
    width: 100%;
    height: 100%;
}
@media (max-width: 768px) {
    /* styles for small screens (phones) */
}

@media (min-width: 769px) and (max-width: 1024px) {
    /* styles for medium screens (tablets) */
}

@media (min-width: 1025px) {
    /* styles for large screens (desktops) */
}
